header{
    margin-top: 5px;
    border: 5px solid blue;
    background-color: blue;
    color:white;
    width:70%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:250%;
    border-radius: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.inhalte{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.fieldset{
    font-size:125%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form-actions {
    padding-top: 1em;
    border-top: 1px solid #eee;
    margin-top: 1em;
    margin-bottom: 2em;
}

.button{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    color: red;
    background-color: rgb(250, 220, 220);
    border: 2px solid red;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
